@import url('https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap');

@keyframes flash {
	from { opacity: 1; }	
	to { opacity: 0.5; }
}
/* Q彈水果 */
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
@keyframes flipX {
	0% {
		transform:  rotateY(0);
		animation-timing-function: ease-out;
	}
	50% {
		transform: rotateY(180deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: rotateY(360deg);
		animation-timing-function: ease-in;
	}
}

@keyframes flipTray {
	0% {
		transform:  rotateY(0);
		animation-timing-function: ease-out;
	}
	100% {
		transform: rotateY(180deg);
		animation-timing-function: ease-in;
	}
}
/* 上下翻，給沙漏用的動畫 */
@keyframes flipY {
	0% {
		transform:  rotateX(0);
		animation-timing-function: ease-out;
	}
	50% {
		transform: rotateX(210deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: rotateX(360deg);
		animation-timing-function: ease-in;
	}
}

@keyframes rotateee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
   --red: #FA0000;
   --gray: #aaa;
   --darkblue: #315568;
   --btn: #156184;
   
   --FontSize: 20px;
   --nav_tab_padding: 20px;
   --nav_tab_borderColor: #ccc;
   
   --inline_img:20px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--FontSize);
  font-family: "LXGW Marker Gothic","Poppins", sans-serif;
}

body{	
	width: calc(100%);
    text-align: left;
    position: absolute;
}
div#nav_tab{
    top: 0;
    z-index: 100;
    position: sticky;
    background-color: white;
	padding: var(--nav_tab_padding) var(--nav_tab_padding) 0 var(--nav_tab_padding);
    border-bottom: 1px solid var(--nav_tab_borderColor);
	box-shadow: 0 3px 10px 5px white;
}
.OuterTabs{
	display: contents;
}
.OuterTabs label, lable.OuterTabs{
	margin: 0 5px;
	display: inline-block;
    padding: 5px 27px 7px 27px;
    border: 1px solid #ccc;
    border-bottom: none;
    bottom: 0px;
    position: relative;
	cursor: pointer;
    border-radius: 15px 15px 0 0;
	
	background-image: none;
    background-color: #fff;
	
	color: darkblue;
}
.panel-control {
    position: absolute;
    opacity: 0;
}
.panel-control:checked + div>label{
	bottom: -1px;
    padding: 12px 27px 7px 27px;
	background-image: linear-gradient(180deg, #a989ff73 10%, #0b4bd652, #ff000000);
    background-color: #fff;
	color: #ffffff;
    text-shadow: 1px 1px 2px darkorchid;
}

/* page list contect*/
table.page-class{
  float: left;
  width: 100%;
  padding: 20px 50px;
}
table.page-class td {
  margin: 0 5px;
  width: calc(100% / 2 - 10px);
  float: left;
  line-height: 31px;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border-image-slice: 1;
}
/* special style */
table.class_ACTi3_0 td {
  width: calc(100% / 3 - 15px);
}
table.class_Note td {
  width: calc(100% - 15px);
}
table.page-class td > a {
	display: block;
    padding: 3px 6px;
	border: 1px solid #fff;
	text-decoration: none;
}
table.page-class td.local-link > a {
    background: linear-gradient(45deg, #1f00b7, #6a5cfc, #8afff3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
table.page-class td.full-link > a {
    background: linear-gradient(-45deg, #1f00b7, #6a5cfc, #8afff3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
table.page-class td a:hover {
	background-image: linear-gradient(45deg,#a989ff73 20%, #0b4bd652, #ff000000);
	color: darkblue;
    -webkit-background-clip: unset;
	text-shadow: 0 0 5px white;
}
th{
	width:100% !important;
	padding: 20px 0 5px 0;
	text-align: center;
}
th span{
	font-weight: 800;
	font-size: larger;
    color: darkgrey;
}
/* hightlight class */

td.red > a{
	color: red !important;
	font-weight: 800;
}

td.red:before{
	content: "*";
    position:absolute;
    color: red;
}

td.green > a{
	color: green !important;
	font-weight: 800;
}

td.green:before{
	content: "*";
    position:absolute;
    color: green;
}

td.u1F4A9 > a{
	color: green !important;
	font-weight: 800;
}

td.u1F4A9>a:before{
	content: "\1F4A9";
    position:absolute;
    color: green;
	right: 20px;
	animation: gelatine 500ms ease infinite;
}

td.u1F649 > a{
    color: darkblue !important;
}
td.u1F649>a:after {
    content: "\1F648\1F649\1F64a";
    position: absolute;
    opacity: 20%;
    z-index: -1;
}
/* 鬆餅 */
td.u1F95E > a{
    color: brown !important;
}
td.u1F95E>a:after {
    content: "\1F95E\1F95E\1F95E\1F95E\1F95E\1F95E";
    position: absolute;
    opacity: 20%;
    z-index: -1;
}
td.u1F595 > a{
	color: pink !important;
}
td.u1F95E>a:after {
    content: "\1F595\1F595\1F595";
    position: absolute;
    opacity: 20%;
    z-index: -1;
	right: 0;
}
/*給沒放title的page一個特殊動畫 它是用p，比較特別一點*/
td.noTitle > p{
	color: gray !important;
    padding: 3px 6px;
}
td.noTitle > p:after {
    content: "";
    position: absolute;
	top: 12px;
	top: 6px;
    width: var(--inline_img);
    height: var(--inline_img);
	opacity: 0.5;
	
	background-image: url(../img/loadinggray.svg);
    animation: rotateee 1500ms ease-out infinite;
}
/* my toy box  取消寬度後水果就會放到地上*/
div .fruit-list {
	width: 60px;
    position: fixed;
    right: 15px;
    bottom: 5vh;
    z-index: 1000;
}
div.fruit-list>img {
	cursor: pointer;
	width:60px;
	padding:10px;
}
div.fruit-list>img[onclick]:not([name=Tray]):hover {
    /* transform: translateY(-5px); */
	animation: gelatine 1000ms ease infinite;
}

div.fruit-list>img[name=Tray]:active {
	animation: flipX 1000ms linear;
}

.is-playing {
  animation: flipTray 1000ms linear;
}

div.fruit-list>img:not([onclick]):hover {
    /* transform: translateY(-5px); */
	animation: flipX 1000ms linear;
}
img,svg {
  filter: drop-shadow(0px 4px 4px #aaa);
}
/* open-store.svg 這套圖特別小，針對性調整 */
img[name=Tray]{
	padding:0 !important;
}
/* 日夜切換 */
div .day-or-night {
	width: 60px; 
    position: fixed;
    top: 1vh;
	right: 1vw;
	/* bottom: 0; */
    z-index: 1000;
}
div.day-or-night>img {
	cursor: pointer;
	width:60px;
	padding:10px;
}